Repository zer0Kerbal/KeridianDynamics, pull requests merged in 2022-07, with the labels that each got.

#44 Add Simplified Chinese (简体中文) <zh-cn.cfg>
  GameData/KeridianDynamics/Localization/zh-cn.cfg
Labels: type: localization, type: infrastructure, state: approved

#48 Update zh-cn and add zh-tw
  GameData/KeridianDynamics/Localization/zh-cn.cfg
  GameData/KeridianDynamics/zh-tw.cfg
  changelog.md
Labels: type: localization

#53 Version 0.8.99.2-prerelease - `<#3 Please Read the Instructions>` edition
  GameData/KeridianDynamics/0.8.99.2.htm
  GameData/KeridianDynamics/Assets/KD-Recycler.dds
  GameData/KeridianDynamics/Assets/KD-Recycler.mu
  GameData/KeridianDynamics/Assets/KD-RecyclerSmall.mu
  GameData/KeridianDynamics/Assets/KD-Recycler_NRM.dds
  GameData/KeridianDynamics/Compatibility/ExtraplanetaryLaunchpads.cfg
  GameData/KeridianDynamics/Config/EL-Recipes.cfg
  GameData/KeridianDynamics/Config/KeridianDynamics.cfg
  GameData/KeridianDynamics/Config/ghostparts.cfg
  GameData/KeridianDynamics/KeridianDynamics.version
  GameData/KeridianDynamics/Localization/en-us.cfg
  GameData/KeridianDynamics/Localization/zh-cn.cfg
  GameData/KeridianDynamics/Localization/zh-tw.cfg
  GameData/KeridianDynamics/Parts/KD-ExtensionPad.cfg
  GameData/KeridianDynamics/Parts/KD-Furnace.cfg
  GameData/KeridianDynamics/Parts/KD-FurnaceSmall.cfg
  GameData/KeridianDynamics/Parts/KD-Keronica.cfg
  GameData/KeridianDynamics/Parts/KD-LaunchPad.cfg
  GameData/KeridianDynamics/Parts/KD-LaunchPadSide.cfg
  GameData/KeridianDynamics/Parts/KD-LaunchPadTop.cfg
  GameData/KeridianDynamics/Parts/KD-LaunchSite.cfg
  GameData/KeridianDynamics/Parts/KD-MobileVAB/KD-FabricationContainer.cfg
  GameData/KeridianDynamics/Parts/KD-MobileVAB/KD-MobileVAB.cfg
  GameData/KeridianDynamics/Parts/KD-MobileVAB/KD-OrbitalHangar.cfg
  GameData/KeridianDynamics/Parts/KD-MobileVAB/KD-PAM.cfg
  GameData/KeridianDynamics/Parts/KD-MobileVAB/KD-PAMSmall.cfg
  GameData/KeridianDynamics/Parts/KD-Pad.cfg
  GameData/KeridianDynamics/Parts/KD-Recycler.cfg
  GameData/KeridianDynamics/Parts/KD-RecyclerSmall.cfg
  GameData/KeridianDynamics/PatchManager/ActiveMMPatches/KD-StockParts.cfg
  GameData/KeridianDynamics/changelog.md
  GameData/KeridianDynamics/readme.htm
  KeridianDynamics.version
  changelog.md
  docs/Attribution.md
  docs/Localizations.md
  docs/ReleaseNotes/0.8.99.2.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: prerelease
